**/.DS_Store
nvim/.config/nvim/plugin
yazi/.config/yazi/flavors/gruvbox-dark.yazi
yazi/.config/yazi/plugins
.nvimlog
CLAUDE.md
/AGENTS.md
/nvim/.config/nvim/CHEATSHEET.md
HANDOFF.md
sketchybar/.config/sketchybar/helper/helper
sketchybar/.config/sketchybar/plugins/icon_map.sh
